/*************************** Theme Layouts ****************************/
$theme-content-max-width: 1200px;

/*************************** Theme Breakpoints ****************************/
$theme-small-breakpoint: 600px;
$theme-medium-breakpoint: 768px;
$theme-large-breakpoint: 992px;
$theme-ex-large-breakpoint: 1200px;

/*************************** Theme Colors ****************************/
$theme-color-primary: #5fcb71;
$theme-color-darken: #4cb35d;
$theme-bg-dark: #223142;
