<div class="movie" *ngIf="movie">
  <h1 class="movie__title">{{ movie.name }}</h1>
  <div class="movie__details">
    <img src="assets/images/movie-covers/{{ movie.img }}" />
    <div class="movie__details__info">
      <div class="movie__details__info__item">
        <p><span>Rate: </span>{{ movie.rate }}</p>
      </div>
      <div class="movie__details__info__item">
        <p><span>Length: </span>{{ movie.length }}</p>
      </div>
      <div class="movie__details__info__item movie__details__info__item--genre">
        <span  *ngFor="let genre of movie.genres">{{ genre }}</span>
      </div>
      <div class="movie__details__info__item movie__details__info__item--description">{{ movie.description }}</div>
    </div>
  </div>
</div>
